#helpline{position:relative;padding:15px;height:100%;overflow:hidden;}
#helpline h2:after{content:": "}
#helpline h2{display:inline-block;}
#helpline form{display:inline-block;height:2em;float:right;margin-right:10px}
#helpline form div{display:inline-block;font-size:.9em;width:70px}
#helpline form input,#helpline form select{border-bottom:2px solid #272727;background-color:white;width:100%}
#helpline form input:focus,#helpline form select:focus{border-bottom:2px solid #ca0000}
#helpline form input+label,#helpline form select+label{position:absolute;color:#272727;transform:translate(-70px,-1em);font-size:.8em;}
#helpline form input:focus+label,#helpline form select:focus+label{position:absolute;color:#ca0000;transform:translate(-70px,-1em);font-size:.8em;}
#helpline form select{height:1.3em}